* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
}

header {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header img {
  width: 70px;
  padding-left: 100px;
}
header ul {
  display: flex;
  margin-right: 120px;
}
header ul li {
  list-style-type: none;
  color: #7793a0;
  font-family: sans-serif;
  padding: 0px 30px 0px 30px;
  transition: 0.4s;
}
header ul li:hover {
  transform: scale(1.2);
  transition: 0.4s;
  color: #77F2FF;
}

.page1 {
  background-image: url("/images/font_page1.png");
  background-size: 100%;
  height: 100vh;
}
.page1-container {
  padding-top: 300px;
  padding-left: 200px;
  width: 650px;
}
.page1-container__icone {
  width: 150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.page1-container__icone a {
  color: #77F2FF;
  font-size: 20px;
  transition: 0.4s;
}
.page1-container__icone a:hover {
  transform: scale(1.2);
  transition: 0.4;
}
.page1-container__text {
  border-left: 2px solid #7793a0;
  padding-left: 50px;
}
.page1-container__text h1 {
  color: white;
  font-size: 55px;
  margin-top: 25px;
  font-family: sans-serif;
}
.page1-container__text h1 span {
  color: #77F2FF;
}
.page1-container__text p {
  color: #7793a0;
  font-family: sans-serif;
  margin-top: 20px;
  font-size: 20px;
}

.page2 {
  background-color: #0B1117;
  height: 100vh;
}
.page2-container {
  color: white;
  padding-top: 150px;
  max-width: 1500px;
  margin: auto;
}
.page2-container h2 {
  font-size: 40px;
}
.page2-container h2 span {
  color: #77F2FF;
}
.page2-container #page2-presentation {
  font-size: 17px;
  margin-top: 20px;
  margin-left: 70px;
  border-left: 1px solid #7793a0;
  color: #7793a0;
  padding-left: 20px;
}
.page2-container__info {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  margin-top: 200px;
}
.page2-container__qualite h3 {
  font-size: 30px;
  color: #77F2FF;
  margin-bottom: 15px;
}
.page2-container__qualite p {
  color: #7793a0;
  font-size: 25px;
}
.page2-container__interet--icone {
  display: flex;
}
.page2-container__interet--icone i {
  margin-right: 20px;
  border: 1px solid #7793a0;
  color: #7793a0;
  font-size: 40px;
  padding: 10px;
}
.page2-container__interet h3 {
  font-size: 30px;
  color: #77F2FF;
  margin-bottom: 15px;
}
.page2-container button {
  display: flex;
  margin: auto;
  margin-top: 80px;
  padding: 20px;
  background-color: #0B1117;
  color: #77F2FF;
  border-color: #77F2FF;
  font-size: 20px;
}

.page3 {
  background-color: #111820;
  height: 100vh;
}
.page3-container {
  color: white;
  padding-top: 150px;
  max-width: 1500px;
  margin: auto;
}
.page3-container h2 {
  font-size: 40px;
}
.page3-container h2 span {
  color: #77F2FF;
}
.page3-container__elt {
  display: flex;
  justify-content: center;
}
.page3-container__chiffre {
  display: flex;
  margin-top: 125px;
  text-align: center;
  width: 500px;
  justify-content: space-between;
}
.page3-container__chiffre div h3 {
  font-size: 60px;
}
@font-face {
  font-family: "Prenton";
  src: url("/font/Prenton.otf") format("opentype");
}
@font-face {
  font-family: "GroteskSmallcaps";
  src: url("/font/Grotesk Light Smallcaps.otf");
}

/*# sourceMappingURL=styles.css.map */
