@font-face {
    font-family: "Prenton";
    src: url("/font/Prenton.otf") format("opentype");
}

@font-face {
    font-family: "GroteskSmallcaps";
    src: url("/font/Grotesk Light Smallcaps.otf");
}